<%- include('./partials/header.ejs')%>
    <div class="container"
        style="display: flex; align-items: center;justify-content: center;height: 85vh;flex-direction: column;">

        <h1 class="text-center">Welcome to the File upload Repo</h1>
        <p>This is a file upload repo where you can upload your files and images and you can downlaod them later</p>

        <div class="container text-center">

            <a href="/login"><button class="btn btn-outline-light">Sign In</button></a>&nbsp;
            <a href="/register"><button class="btn btn-outline-light">Sign Up</button></a>
        </div>
    </div>
    <%- include('./partials/footer.ejs')%>

        <script>

        </script>